<div id='beers-container'>
  <h1 class="center">Beers</h1>
      <div class='beers-section'>
      {{#each beersFromApi}}
            <div class='beer' style='border:none; background:white;'>
                    <div class='column-beers'>
                      <img src={{this.image_url}} />
                    </div>
                    <div class='description'>
                       <h3 class="center">{{this.name}}</h3>
                          <p class="main-text center">{{this.description}}</p>
                          <p class="tag center">{{this.tagline}}</p>
                    </div>
            </div>
     
      {{/each}}
      </div>  
</div>