<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Iroon Beers</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>
  <body>
      <nav class="top-menu">
            <a class="link-top" href="/">Home</a>
            <a class="link-top" href="/beers">Beers</a>
            <a class="link-top" href="/random-beer">Random Beer</a>
      </nav>
    <main>
    {{{ body }}}
    </main>
</html>